nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

nav button{
  background-color: white;
  border: none;
  cursor: pointer;
}

.logo {
  height: 80px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo img{
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 78%;
}

.buttons button{
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  transition: 0.3s;
}

.buttons button:hover {
  background-color: black;
  color: white;
  border-radius: 18px;
}

.icons {
  display: flex;
  height: 80px;
  width: 10%;
  align-items: center;
  justify-content: flex-end;
}

.icons div {
  margin-right: 12px;
  height: 100%;
  display: flex;
  align-items: center;
}

.icons .list-icon {
  display: none;
}

.hide {
  display: none;
}



@media all and (min-width: 1280px) and (max-width: 1440px) {
  nav {
    height: 5.5vw;
  }

  .logo {
    margin-right: 2vw;
  }
  .logo img {
    height: 2.2vw;
  }

  .buttons button{
    font-size: 1vw;
    padding: 0.4vw;
  }
}

@media all and (max-width: 1279px) {
  nav {
    height: 56px;
  }

  .logo {
    height: 56px;
  }

  .logo img {
    height: 30px;
  }

  .buttons {
    display: none;
  }

  .icons {
    height: 56px;
    width: 150px;
  }

  .icons .list-icon {
    display: flex;
    margin-right: 12px;
  }
}


