.showcase-section {
  width: 100%;
  max-width: 1438px;
  height: 870px;
  padding: 0 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.showcase-swiper {
  width: 99%;
  height: 80%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  /* Center slide text vertically */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.swiper-container {
  font-family: "Quicksand", sans-serif;
  gap: 22px;
  width: 100%;
  height: 635px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.big-box {
  border-radius: 30px;
  width: 50%;
  height: 100%;
  background-color: #f4f4f4;
  /* padding-right: 24px;
  padding-bottom: 24px; */
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.big-box img {
  height: 100%;
  width: 100%;
  transition: 0.5s;
  /* background-color: rgb(255, 255, 255); */
}

.big-box img:hover {
  transition: 0.5s;
  transform: scale(1.05);
  cursor: pointer;
}

.small-box {
  width: 23%;
  height: 48%;
  border-radius: 25px;
  overflow: hidden;
  background-color: #f4f4f4;
  position: relative;
}

.small-box img {
  width: 100%;
  border-radius: 25px;
  transition: 0.5s;
}

.small-box img:hover {
  transition: 0.5s;
  transform: scale(1.05);
  cursor: pointer;
}

#buttons-div .bullets.swiper-pagination-bullet {
  width: auto;
  height: 26px;
  color: black;
  font-family: "Quicksand", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-right: 95px;
  display: flex;
  justify-content: center;
}

#buttons-div .bullets.swiper-pagination-bullet:last-of-type {
  margin: 0;
}

#buttons-div {
  height: 34px;
  position: absolute;
  bottom: 662px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bullets.swiper-pagination-bullet-active {
  text-decoration: underline;
}

img.newInBigPicture {
  scale: 1;
  height: 50%;
  width: auto;
  transition: 0.5s;
  position: absolute;
  top: 15%;
}

img.newInBigPicture-hover {
  position: absolute;
  top: 15%;
  height: 50%;
  width: auto;
  transition: 0.5s;
  transform: scale(1.05);
  cursor: pointer;
}

img.mobileBigPicture {
  scale: 1;
  height: 50%;
  width: auto;
  position: absolute;
  transition: 0.5s;
  top: 15%;
}

img.mobileBigPicture-hover {
  height: 50%;
  width: auto;
  transition: 0.5s;
  transform: scale(1.05);
  cursor: pointer;
  position: absolute;
  top: 15%;
}

img.mobile-scale-picture {
  scale: 0.5;
}

/* New-In slide */

.newIn-big-box-text-container {
  line-height: 1.8;
  position: absolute;
  top: 70%;
}

.newIn-cta-button-show {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  transition: 0.3s;
  color: white;
  padding: 10px 24px 11px 24px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}

.newIn-cta-button-hide {
  opacity: 0;
  transition: 0.3s;
  padding: 10px 24px 11px 24px;
  border-radius: 20px;
}

.newIn-big-box-corner-text {
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 24px;
  left: 24px;
  background-color: #2189ff;
  color: white;
  border-radius: 18px;
  padding: 2px 6px;
}

.newIn-big-box-title {
  font-size: 28px;
}

.newIn-big-box-subtitle {
  opacity: 1;
  transition: 0.3s;
}

.newIn-big-box-subtitle-hide {
  opacity: 0;
  transition: 0.3s;
  line-height: 1;
}

/* Mobile Slide */

.mobile-big-box-text-container {
  line-height: 1.8;
  position: absolute;
  top: 70%;
}

.mobile-big-box-title {
  font-size: 28px;
  line-height: 1.4;
}

.mobile-big-box-subtitle {
  opacity: 1;
  transition: 0.3s;
}

.mobile-big-box-subtitle-hide {
  opacity: 0;
  transition: 0.3s;
  line-height: 1;
}

.mobile-cta-button-show {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  transition: 0.3s;
  color: white;
  padding: 10px 24px 11px 24px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}

.mobile-cta-button-hide {
  opacity: 0;
  transition: 0.3s;
  padding: 10px 24px 11px 24px;
  border-radius: 20px;
}

/* TV&AV Slide */

.tv-big-box-text-container {
  line-height: 1.8;
  position: absolute;
  top: 70%;
}

.tv-big-box-title {
  font-size: 28px;
  color: white;
  line-height: 1.4;
}

.tv-big-box-subtitle {
  opacity: 1;
  transition: 0.3s;
  color: white;
}

.tv-big-box-subtitle-hide {
  opacity: 0;
  transition: 0.3s;
  line-height: 1;
}

.tv-cta-button-show {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
  color: rgb(0, 0, 0);
  padding: 10px 24px 11px 24px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}

.tv-cta-button-hide {
  opacity: 0;
  transition: 0.3s;
  padding: 10px 24px 11px 24px;
  border-radius: 20px;
}

/* Home-Appliances Slide */

.home-big-box-text-container {
  line-height: 1.8;
  position: absolute;
  top: 77%;
}

.home-big-box-title {
  font-size: 26px;
  color: rgb(0, 0, 0);
  line-height: 1.4;
}

.home-big-box-subtitle {
  opacity: 1;
  transition: 0.3s;
  color: rgb(0, 0, 0);
}

.home-big-box-subtitle-hide {
  opacity: 0;
  transition: 0.3s;
  line-height: 0.5;
}

.home-cta-button-show {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  transition: 0.3s;
  color: rgb(255, 255, 255);
  padding: 10px 24px 11px 24px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}

.home-cta-button-hide {
  opacity: 0;
  transition: 0.3s;
  padding: 10px 24px 11px 24px;
  border-radius: 20px;
}

/* Laptops slide*/

.laptop-big-box-text-container {
  line-height: 1.8;
  position: absolute;
  top: 77%;
}

.laptop-big-box-title {
  font-size: 26px;
  color: rgb(0, 0, 0);
  line-height: 1.4;
}

.laptop-big-box-subtitle {
  opacity: 1;
  transition: 0.3s;
  color: rgb(0, 0, 0);
}

.laptop-big-box-subtitle-hide {
  opacity: 0;
  transition: 0.3s;
  line-height: 1;
}

.laptop-cta-button-show {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  transition: 0.3s;
  color: rgb(255, 255, 255);
  padding: 10px 24px 11px 24px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}

.laptop-cta-button-hide {
  opacity: 0;
  transition: 0.3s;
  padding: 10px 24px 11px 24px;
  border-radius: 20px;
}

/* New In small boxes  */

.small-box-text-container {
  padding: 0 9px;
  line-height: 1.8;
  position: absolute;
  top: 65%;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.small-box-title {
  font-size: 18px;
  color: rgb(0, 0, 0);
  line-height: 1.4;
}

.small-box-subtitle {
  font-size: 12px;
  opacity: 1;
  transition: 0.3s;
  color: rgb(0, 0, 0);
}

.small-box-subtitle-hide {
  font-size: 12px;
  opacity: 0;
  transition: 0.3s;
  line-height: 1;
}

.cta-button-show {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  transition: 0.3s;
  color: rgb(255, 255, 255);
  padding: 10px 24px 11px 24px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}

.cta-button-hide {
  opacity: 0;
  transition: 0.3s;
  padding: 10px 24px 11px 24px;
  border-radius: 20px;
}

/* Mobile small boxes  */

.mobile-scale-picture.top-right {
  position: absolute;
  bottom: 17%;
}

.mobile-scale-picture.bottom-right {
  position: absolute;
  bottom: 17%;
}

.small-box.tv-bottom  .small-box-title{
  font-size: 18px;
  color: white;
  line-height: 1.4;
}

.small-box.tv-bottom .small-box-subtitle-hide {
  font-size: 12px;
  opacity: 0;
  transition: 0.3s;
  line-height: 1;
}

.small-box.tv-bottom .small-box-subtitle{
  font-size: 12px;
  opacity: 1;
  transition: 0.3s;
  color: white;
}

.small-box.tv-bottom .cta-button-show{
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
  color: rgb(0, 0, 0);
  padding: 10px 24px 11px 24px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}

.small-box.tv-bottom .cta-button-hide {
  opacity: 0;
  transition: 0.3s;
  padding: 10px 24px 11px 24px;
  border-radius: 20px;
}

.small-box-text-container.laptop-bottom-left {
  top: 59%;
}

@media all and (min-width: 536px) and (max-width: 1440px) {
  #buttons-div .bullets.swiper-pagination-bullet {
    height: 2.1vw;
    font-size: 1.7vw;
    margin-right: 7.2vw;
  }

  .showcase-swiper {
    width: 100%;
    height: 60vw;
  }

  .showcase-section .title {
    font-family: "Quicksand", sans-serif;
    padding-top: 2vw;
    font-weight: 700;
    font-size: 2.7vw;
  }

  .showcase-section {
    height: 67vw;
  }

  .big-box {
    width: 48vw;
    height: 48vw;
  }

  .small-box {
    width: 22vw;
    height: 23.2vw;
  }

  .swiper-container {
    gap: 1.5vw;
    height: 48vw;
  }

  #buttons-div {
    height: 2.4vw;
    bottom: 56vw;
    width: 100%;
  }
   
  .newIn-big-box-title {
    font-size: 2.2vw;
  }

  .newIn-big-box-subtitle {
    font-size: 1.2vw;
  }

  .newIn-big-box-subtitle-hide {
    font-size: 1.2vw;
  }

  .mobile-big-box-title {
    font-size: 2.2vw;
  }

  .mobile-big-box-subtitle {
    font-size: 1.2vw;
  }

  .mobile-big-box-subtitle-hide {
    font-size: 1.2vw;
  }

  .tv-big-box-title {
    font-size: 2.2vw;
  }

  .tv-big-box-subtitle {
    font-size: 1.2vw;
  }

  .tv-big-box-subtitle-hide {
    font-size: 1.2vw;
  }

  .home-big-box-title {
    font-size: 2.2vw;
  }

  .home-big-box-subtitle {
    font-size: 1.2vw;
  }

  .home-big-box-subtitle-hide {
    font-size: 1.2vw;
  }

  .laptop-big-box-title {
    font-size: 2.2vw;
  }

  .laptop-big-box-subtitle {
    font-size: 1.2vw;
  }

  .laptop-big-box-subtitle-hide {
    font-size: 1.2vw;
  }

  .newIn-cta-button-show {
    padding: 0.69444444vw 1.66666667vw 0.76388889vw 1.66666667vw;
    border-radius: 1.38888889vw;
    font-size: .97vw;
  }

  .newIn-cta-button-hide {
    padding: 0.69444444vw 1.66666667vw 0.76388889vw 1.66666667vw;
    border-radius: 1.38888889vw;
    font-size: .97vw;
  }

  .mobile-cta-button-show {
    padding: 0.69444444vw 1.66666667vw 0.76388889vw 1.66666667vw;
    border-radius: 1.38888889vw;
    font-size: .97vw;
  }

  .mobile-cta-button-hide {
    padding: 0.69444444vw 1.66666667vw 0.76388889vw 1.66666667vw;
    border-radius: 1.38888889vw;
    font-size: .97vw;
  }

  .tv-cta-button-show {
    padding: 0.69444444vw 1.66666667vw 0.76388889vw 1.66666667vw;
    border-radius: 1.38888889vw;
    font-size: .97vw;
  }

  .tv-cta-button-hide {
    padding: 0.69444444vw 1.66666667vw 0.76388889vw 1.66666667vw;
    border-radius: 1.38888889vw;
    font-size: .97vw;
  }

  .home-cta-button-show {
    padding: 0.69444444vw 1.66666667vw 0.76388889vw 1.66666667vw;
    border-radius: 1.38888889vw;
    font-size: .97vw;
  }

  .home-cta-button-hide {
    padding: 0.69444444vw 1.66666667vw 0.76388889vw 1.66666667vw;
    border-radius: 1.38888889vw;
    font-size: .97vw;
  }

  .laptop-cta-button-show {
    padding: 0.69444444vw 1.66666667vw 0.76388889vw 1.66666667vw;
    border-radius: 1.38888889vw;
    font-size: .97vw;
  }

  .laptop-cta-button-hide {
    padding: 0.69444444vw 1.66666667vw 0.76388889vw 1.66666667vw;
    border-radius: 1.38888889vw;
    font-size: .97vw;
  }

  .small-box-text-container {
    top: 65%;
    padding: 0 7px;
  }

  .small-box-title {
    font-size: 1.3vw;
    line-height: 1.4;
  }

  .small-box-subtitle {
    font-size: 0.8vw;
  }

  .small-box-subtitle-hide {
    font-size: 0.8vw;
    opacity: 0;
    transition: 0.3s;
    line-height: 1;
  }

  .small-box.tv-bottom  .small-box-title{
    color: white;
    font-size: 1.3vw;
    line-height: 1.4;
  }
  
  .small-box.tv-bottom .small-box-subtitle-hide {
    font-size: 0.8vw;
    opacity: 0;
    transition: 0.3s;
    line-height: 1;
  }
  
  .small-box.tv-bottom .small-box-subtitle{
    font-size: 0.8vw;
    opacity: 1;
    transition: 0.3s;
    color: white;
  }
  
  .small-box.tv-bottom .cta-button-show{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    color: rgb(0, 0, 0);
    padding: 0.69444444vw 1.66666667vw 0.76388889vw 1.66666667vw;
    border-radius: 1.38888889vw;
    font-size: .97vw;
  }
  
  .small-box.tv-bottom .cta-button-hide {
    opacity: 0;
    padding: 0.69444444vw 1.66666667vw 0.76388889vw 1.66666667vw;
    border-radius: 1.38888889vw;
    font-size: .97vw;
  }

  img.mobile-scale-picture.bottom-right {
    position: absolute;
    bottom: 16%;
  }

  img.mobile-scale-picture.top-right {
    position: absolute;
    bottom: 16%;
  }

  .swiper-container.mobile .small-box .small-box-text-container{
    top: 63%;
  }

  .small-box-text-container.bottom-right {
    top: 60%;
  }

  .cta-button-show {
    padding: 0.69444444vw 1.66666667vw 0.76388889vw 1.66666667vw;
    border-radius: 1.38888889vw;
    font-size: .97vw;
  }

  .cta-button-hide {
    padding: 0.69444444vw 1.66666667vw 0.76388889vw 1.66666667vw;
    border-radius: 1.38888889vw;
    font-size: .97vw;
  }

  .small-box-text-container.laptop-bottom-left {
    top: 61%;
  }
}

@media all and (max-width: 535px) {

  .showcase-section {
    height: 187vw;
    margin-bottom: 15px
  }

  .showcase-swiper {
    width: 100%;
    height: 86%;
  }

  .showcase-swiper .swiper-slide {
    background-color: white;
  }

  .swiper-container {
    height: 149vw;
    gap: 1.7vw;
    flex-direction: row;
  }

  .showcase-section .title {
    font-family: "Quicksand", sans-serif;
    padding-top: 6vw;
    font-weight: 700;
    font-size: 8vw;
  }

  #buttons-div .bullets.swiper-pagination-bullet {
    height: 7vw;
    font-size: 4.5vw;
    margin-right: 2.2vw;
  }

  #buttons-div {
    height: 8vw;
    bottom: 152vw;
    width: -webkit-fill-available;
    overflow: auto;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .big-box {
    width: 100%;
    height: 32%;
  }

  .small-box {
    width: 49%;
    height: 32%;
  }

  .small-box img {
    height: 100%;
  }

  .newIn-cta-button-show {
    padding: 1.5vw 4vw;
    font-size: 2.9vw;
    border-radius: 5vw
  }

  .newIn-cta-button-hide {
    padding: 1.5vw 4vw;
    font-size: 2.9vw;
    border-radius: 5vw
  }
  .mobile-cta-button-show {
    padding: 1.5vw 4vw;
    font-size: 2.9vw;
    border-radius: 5vw
  }

  .mobile-cta-button-hide {
    padding: 1.5vw 4vw;
    font-size: 2.9vw;
    border-radius: 5vw
  }

  .tv-cta-button-show {
    padding: 1.5vw 4vw;
    font-size: 2.9vw;
    border-radius: 5vw
  }

  .tv-cta-button-hide {
    padding: 1.5vw 4vw;
    font-size: 2.9vw;
    border-radius: 5vw
  }

  .home-cta-button-show {
    padding: 1.5vw 4vw;
    font-size: 2.9vw;
    border-radius: 5vw
  }

  .home-cta-button-hide {
    padding: 1.5vw 4vw;
    font-size: 2.9vw;
    border-radius: 5vw
  }

  .laptop-cta-button-show {
    padding: 1.5vw 4vw;
    font-size: 2.9vw;
    border-radius: 5vw
  }

  .laptop-cta-button-hide {
    padding: 1.5vw 4vw;
    font-size: 2.9vw;
    border-radius: 5vw
  }

  img.newInBigPicture {
    scale: 1;
    height: 70%;
    width: auto;
    transition: 0.5s;
    position: absolute;
    top: 14%;
    left: 6%;
  }  

  img.newInBigPicture-hover {
    scale: 1;
    height: 70%;
    width: auto;
    transition: none;
    position: absolute;
    top: 14%;
    left: 6%;
  }

  .newIn-big-box-text-container {
    line-height: 1.8;
    position: absolute;
    right: 5%;
    top: 38%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .newIn-big-box-corner-text {
    top: 25%;
    left: 45%;
    padding: 0.5vw 1.2vw;
    font-size: 3vw;
    border-radius: 3vw;
  }

  .newIn-big-box-title {
    font-size: 3.7vw;
  }

  .newIn-big-box-subtitle {
    font-size: 2.6vw;
    text-align: left;
  }

  .newIn-big-box-subtitle-hide {
    font-size: 2.6vw;
    text-align: left;
  }

  .small-box-text-container {
    top: 64%;
    padding: 0 10px;
    line-height: 1.5
  }

  .small-box-title {
    font-size: 2.9vw;
    line-height: 1.2;
  }

  .small-box-subtitle {
    font-size: 2.4vw;
  }

  .small-box-subtitle-hide {
    font-size: 1vw;
    opacity: 0;
    transition: 0.3s;
    line-height: 1;
  }

  .cta-button-show {
    padding: 1.5vw 4vw;
    font-size: 2.9vw;
    border-radius: 5vw;
  }

  .cta-button-hide {
    padding: 1.5vw 4vw;
    font-size: 2.9vw;
    border-radius: 5vw;
  }

  img.mobileBigPicture {
    scale: 1;
    height: 70%;
    width: auto;
    transition: 0.5s;
    position: absolute;
    top: 14%;
    left: 6%;
  }  

  img.mobileBigPicture-hover {
    scale: 1;
    height: 70%;
    width: auto;
    transition: none;
    position: absolute;
    top: 14%;
    left: 6%;
  }

  .mobile-big-box-text-container {
    line-height: 1.8;
    position: absolute;
    right: 1%;
    top: 38%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .mobile-big-box-title {
    font-size: 3.7vw;
  }
  .mobile-big-box-subtitle {
    font-size: 2.6vw;
    text-align: left;
  }

  .mobile-big-box-subtitle-hide {
    font-size: 2.6vw;
    text-align: left;
  }

  img.tv-big-box-img {
    position: absolute;
    left: 0;
    width: 50%;
  }

  .big-box.tv {
    background-color: black;
  }

  .tv-big-box-text-container {
    line-height: 1.8;
    position: absolute;
    right: 1%;
    top: 12%;
    width: 44%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .tv-big-box-title {
    font-size: 3.7vw;
    text-align: left;
  }

  .tv-big-box-subtitle {
    font-size: 2.6vw;
    text-align: left;
  }

  .tv-big-box-subtitle-hide {
    font-size: 2.6vw;
    text-align: left;
  }

  .small-box.tv-bottom .small-box-text-container {
    top: 60%;
    padding: 0 7px;
    line-height: 1.5
  }

  .small-box.tv-bottom .small-box-title {
    font-size: 2.9vw;
    line-height: 1.2;
    color: white;
  }

  .small-box.tv-bottom .small-box-subtitle {
    font-size: 2.4vw;
    color: white;
  }

  .small-box.tv-bottom .small-box-subtitle-hide {
    font-size: 1vw;
    opacity: 0;
    transition: 0.3s;
    line-height: 1;
  }

  .small-box.tv-bottom .cta-button-show {
    background-color: white;
    color: black;
    padding: 1.5vw 4vw;
    font-size: 2.9vw;
    border-radius: 5vw;
  }

  .small-box.tv-bottom .cta-button-hide {
    padding: 1.5vw 4vw;
    font-size: 2.9vw;
    border-radius: 5vw;
  }

  .big-box.home {
    background-color: rgb(1 196 179);
  }

  .home-big-box-text-container {
    line-height: 1.8;
    position: absolute;
    right: 1%;
    top: 19%;
    width: 44%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .big-box.home img {
    position: absolute;
    left: 0;
    width: 50%;
  }

  .home-big-box-title {
    font-size: 3.7vw;
    text-align: left;
  }

  .home-big-box-subtitle {
    font-size: 2.6vw;
    text-align: left;
  }

  .home-big-box-subtitle-hide {
    font-size: 2.6vw;
    text-align: left;
  }

  .big-box.laptop img {
    position: absolute;
    left: 0;
    width: 50%;
  }

  .laptop-big-box-text-container {
    line-height: 1.8;
    position: absolute;
    right: 4%;
    top: 27%;
    width: 44%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .laptop-big-box-title {
    font-size: 3.7vw;
    text-align: left;
  }

  .laptop-big-box-subtitle {
    font-size: 2.6vw;
    text-align: left;
  }

  .laptop-big-box-subtitle-hide {
    font-size: 2.6vw;
    text-align: left;
  }


}